h1 {
	font-size: 2rem;
	line-height: 1.1;
	margin-top: 0;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.3rem;
}

small {
	font-size: px2rem(12px);
}

p {
	font-size: 1rem;
}

a {
	transition: .3s all;
}

input, textarea {
	width: 100%;
	font-size: 1rem;
	color: #888;

	&:focus {
		outline: 0;
	}
}